.container {
  margin-top: 10vh;
  width: 50%;
  min-height: 50vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  border-radius: 0.5cm;
}
.topic {
  padding: 1ch;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}
select {
  background-color: #e9ca8f;
  border-radius: 5px;
  margin-top: 2vh;
}

.message {
  padding: 0.625em;
  display: flex;
  color: azure;
  border-radius: 0.5em;
  margin-top: 5px;
  max-width: 15cm;
}
.message-sender {
  font-weight: bold;
}

.blue-bg {
  justify-self: end;
  background-color: rgb(19, 56, 56);
}
.gray-bg {
  justify-self: start;
  background-color: rgb(0, 0, 0);
}
